<html lang="ru">
<head>
    <title>ITAE UI</title>
    <!--    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">-->
</head>
<body background="{{ url_for('static', path='bg.jpg') }}">
<div style="background: aliceblue; top: 0; bottom: 10%; left: 0; right: 100%;
border-color: black;">
    <img src="{{ url_for('static', path='logo.jpg') }}" alt="logo" width="70" height="70">
</div>
<div style="background: aliceblue; top: 0; bottom: 30%; left: 10%; right: 100%;
border-color: black;">
    <p>Институт теоретической и прикладной физики</p>
</div>
</body>
</html>

