h1 {
    color: red;
    text-align: center;
}

img {
    display: block;
    margin-left: 2%;
    margin-right: auto;
    width: 7%;
}

body {
    background-image: "{{ url_for('static', path='bg.jpg') }}";
}